<h3>Edit Comment</h3>

<%= form_for @comment do |f| %>
  <div class="input">
    <%= f.label :title, 'Title (optional)' %>
    <%= f.text_field :title %>
  </div>
  <div class="input">
    <%= f.label :body, 'Comment Text' %>
    <%= f.text_area :body, cols: 30, rows: 5 %>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <ul class="button-group">
        <li>
          <div class="submit">
            <%= f.submit 'Update Comment', class: "button small" %>
          </div>
        </li>
        <li><%= link_to 'Back to Recipe', recipe_path(@recipe), class: "button small" %></li>
      </ul>
    </div>
  </div>
<% end %>
