<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @recipe do |f| %>

  <div class="input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="input">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, cols: 60, rows: 10 %>
  </div>
  <div class="input">
    <%= f.label :directions %>
    <%= f.text_area :directions, cols: 60, rows: 10 %>
  </div>
  <div class="input">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>
  <div class="input">
    <%= f.label :time_number, 'Time' %>
    <%= f.text_field :time_number %>

    <%= f.label :time_unit, 'Unit' %>
    <%= f.select :time_unit, ['minutes', 'hours'] %>
  </div>
  <div class="input">
    <%= f.label :servings %>
    <%= f.text_field :servings %>
  </div>
  <div class="input">
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>
  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>
