<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<%= form_tag(recipes_path, method: :get) do %>
  <%= field_set_tag 'Search' do %>

    <div>
      <p>
        <%= label_tag 'keywords', 'Keywords:' %>
        <%= text_field_tag 'keywords', params[:keywords], placeholder: 'Search recipe name, ingredients, and directions', size: 50 %>
      </p>
    </div>
    <div>
      <p>
        Maximum time: <%= text_field_tag 'minutes', params[:minutes], placeholder: '30', size: 4 %> minutes
      </p>
    </div>

    <div><%= submit_tag 'Search Recipes' %></div>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
  <p><%= link_to recipe.name, recipe_path(recipe) %></p>
<% end %>

<p>
  <%= link_to 'Add New Recipe', new_recipe_path %> |
  <%= link_to 'Show All Recipes', recipes_path %>
</p>
