<% if @user %>
  <h1><%= @user.username %>'s Recipes</h1>
  <p>Recipes posted by <%= link_to @user.username, user_path(@user) %>:</p>
<% else %>
  <h1>All Recipes</h1>
<% end %>

<%= form_tag(recipes_path, method: :get) do %>
  <%= field_set_tag do %>
    <div class="row">
      <div class="medium-8 large-9 columns">
        <%= label_tag 'keywords' %>
        <%= text_field_tag 'keywords', params[:keywords], placeholder: 'Search recipe name, ingredients, and directions' %>
        </div>
        <div class="medium-4 large-3 columns">
          <%= label_tag 'minutes', 'Maximum Time (minutes)' %>
          <%= text_field_tag 'minutes', params[:minutes], size: 4 %>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 large-5 medium-centered columns">
        <div id="recipe-search-buttons">
          <ul class="button-group">
            <li><%= submit_tag 'Search Recipes', class: "button small" %></li>
            <li><input id="clear-form" class="button small" type="button" value="Clear Form"></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
  <p><%= link_to recipe.name, recipe_path(recipe) %></p>
<% end %>
