<h1>New Recipe</h1>

<%= simple_form_for @recipe do |f| %>

  <%= f.input :name %>
  <%= f.input :ingredients %>
  <%= f.input :directions %>
  <%= f.input :notes %>
  <%= f.input :time_in_minutes, label: 'Time' %>
  <%= f.input :servings %>
  <%= f.button :submit, label: 'Create Recipe' %>

<% end %>
