<h1><%= @recipe.name %></h1>

<div id="recipe-intro-container">
  <div class="row">
    <div class="medium-5 columns">
      <p>posted by <%= link_to @recipe.user.username, user_path(@recipe.user) %> on <%= @recipe.created_at.strftime("%F") %></p>

      <% if @recipe.user == current_user %>
        <ul class="button-group">
          <li><%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: "button small" %></li>
          <li><%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete,
            data: { confirm: 'Are you sure you want to delete this recipe?' }, class: "button small" %></li>
        </ul>
      <% end %>
    </div>
    <div class="medium-7 columns">
      <div class="row">
        <% unless @recipe.time_in_minutes.blank? %>
          <div class="medium-4 columns">
            <p>Time: <%= @recipe.time_number %>
              <% if @recipe.time_number == '1' %>
                <%= @recipe.time_unit.singularize %>
              <% else %>
                <%= @recipe.time_unit %>
              <% end %>
            </p>
          </div>
        <% end %>
        <div class="medium-8 columns">
          <% unless @recipe.servings.blank? %>
            <p>Servings: <%= @recipe.servings %></p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <% unless @recipe.notes.blank? %>
            <p><em><%= @recipe.notes %></em></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="recipe-main-container">
  <div class="row">
    <div class="medium-4 columns">
      <div id="recipe-ingredients-container">
        <h2>Ingredients</h2>
        <p><%= simple_format @recipe.ingredients %></p>
      </div>
    </div>
    <div class="medium-8 columns">
      <div id="recipe-directions-container">
        <h2>Directions</h2>
        <p><%= simple_format @recipe.directions %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <div id="recipe-tags-container">
      <% unless @recipe.tags.count == 0 %>
        <h2>Tags</h2>
        <p><%= @recipe.tags.map { |tag| tag.name }.join(', ') %></p>
      <% end %>
    </div>
  </div>
</div>


<h2>Comments</h2>
<% @comments.each do |comment| %>

  <% unless comment.title.blank? %>
    <h3><%= comment.title %></h3>
  <% end %>
  <p><%= simple_format comment.body %></p>
  <p><em>posted by <%= link_to comment.user.username, user_path(comment.user) %> on <%= comment.created_at.strftime("%F") %></em></p>
  <p>
    <% if comment.user == current_user %>
      <%= link_to 'Edit Comment', edit_comment_path(comment) %> |
      <%= link_to 'Delete Comment', comment_path(comment), method: :delete,
        data: { confirm: 'Are you sure you want to delete this comment?' } %>
    <% end %>
  </p>
<% end %>

<% if user_signed_in? %>
  <h3>New Comment</h3>

  <%= form_for [@recipe, @comment] do |f| %>
    <div class="input">
      <%= f.label :title, 'Title (optional)' %>
      <%= f.text_field :title %>
    </div>
    <div class="input">
      <%= f.label :body, 'Comment Text' %>
      <%= f.text_area :body, cols: 30, rows: 5 %>
    </div>
    <div class="submit">
      <%= f.submit 'Add Comment', class: "button small" %>
    </div>
  <% end %>
<% end %>
