<p class="notice"><%= notice %></p>

<h1>Recipe Details</h1>

<p>Name: <%= @recipe.name %></p>

<% unless @recipe.notes.blank? %>
  <p>Notes: <%= @recipe.notes %></p>
<% end %>

<% unless @recipe.time_in_minutes.blank? %>
  <p>Time: <%= @recipe.time_in_minutes %> minutes</p>
<% end %>

<% unless @recipe.servings.blank? %>
  <p>Servings: <%= @recipe.servings %></p>
<% end %>

<p>Ingredients: <%= simple_format @recipe.ingredients %></p>
<p>Directions: <%= simple_format @recipe.directions %></p>

<h2>Actions</h2>

<p><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></p>

<p><%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete %></p>

