<h1><%= @recipe.name %></h1>

<% unless @recipe.notes.blank? %>
  <p>Notes: <%= @recipe.notes %></p>
<% end %>

<% unless @recipe.time_in_minutes.blank? %>
  <p>Time: <%= @recipe.time_number %> <%= @recipe.time_unit %></p>
<% end %>

<% unless @recipe.servings.blank? %>
  <p>Servings: <%= @recipe.servings %></p>
<% end %>

<h2>Ingredients</h2>
<p><%= simple_format @recipe.ingredients %></p>

<h2>Directions</h2>
<p><%= simple_format @recipe.directions %></p>

<% unless @recipe.tags.count == 0 %>
  <p>Tags: <%= @recipe.tags.map { |tag| tag.name }.join(', ') %></p>
<% end %>

<h2>Comments</h2>
<% @comments.each do |comment| %>

  <% unless comment.title.blank? %>
    <p>Title: <%= comment.title %></p>
  <% end %>
  <p><%= simple_format comment.body %></p>
  <p>
    <%= link_to 'Edit Comment', edit_comment_path(comment) %> |
    <%= link_to 'Delete Comment', comment_path(comment), method: :delete %>
  </p>
<% end %>

<h3>New Comment</h3>

<%= form_for [@recipe, @comment] do |f| %>
  <div class="input">
    <%= f.label :title, 'Title (optional)' %>
    <%= f.text_field :title %>
  </div>
  <div class="input">
    <%= f.label :body, 'Comment Text' %>
    <%= f.text_area :body, cols: 30, rows: 5 %>
  </div>
  <div class="submit">
    <%= f.submit 'Add Comment' %>
  </div>
<% end %>

<div class="navigation">
  <p>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |
    <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete,
          data: { confirm: 'Are you sure you want to delete this recipe?' } %> |
    <%= link_to 'Back to Recipes', recipes_path %>
  </p>
</div>
