<h1><%= @user.username %>'s Tags</h1>

<p>All tags belonging to <%= link_to @user.username, user_path(@user) %>:</p>

<% if @user == current_user %>
  <% @tags.each do |tag| %>
    <p><%= link_to tag.name, tag_path(tag) %></p>
    <ul>
      <li><%= link_to 'Edit Tag', edit_tag_path(tag) %></li>
      <li><%= link_to 'Delete Tag', tag_path(tag), method: :delete,
        data: { confirm: 'Are you sure you want to delete this tag?' } %></li>
    </ul>
  <% end %>

<% else %>
  <% @tags.each do |tag| %>
    <p><%= link_to tag.name, tag_path(tag) %></p>
  <% end %>
<% end %>

<% if @user == current_user %>
  <h3>New Tag</h3>

  <%= form_for [current_user, @tag] do |f| %>
    <div class="input">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="submit">
      <%= f.submit 'Add Tag' %>
    </div>
  <% end %>
<% end %>
