<!DOCTYPE html>
<html>
<head>
  <title>RecipeBox</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', '#' %></li>
      <% else %>
        <li><%= link_to 'Create New Account', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>

  <%= yield %>

</body>
</html>
